@import url('https://fonts.googleapis.com/css2?family=Special+Gothic&display=swap');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: Special Gothic;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  width: 100%;
  overflow-x: hidden;
}

.app {
  padding: 0px 10%;
  margin-top: 60px;
}

.container {
  width: 100%;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 20px 40px;
  margin-bottom: 25px;
}

.container>h2 {
  font-size: 36px;
  margin-bottom: 14px;
}

.container>.input-container {
  display: flex;
  justify-content: space-between;
  border-radius: 2px;
  overflow: hidden;
}

.input-container>* {
  flex-basis: 85%;
}

.input-container>input {
  padding: 5px 20px;
  font-size: 18px;
  height: 40px;
  outline: none;
  border: 1px solid #000;
}

.input-container button {
  flex-basis: 15%;
  padding: 5px 10px;
  font-size: 16px;
  outline: none;
  border: none;
  background-color: rgb(89, 67, 255);
  color: aliceblue;
  cursor: pointer;
}

.list {
  margin: 20px 14px;
}

.list>li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  background-color: rgb(222, 222, 222);
  padding: 10px 20px;
  border-radius: 5px;
}

.list>li>p {
  font-size: 18px;
}

.icons {
  display: flex;
  gap: 40px;
  font-size: 20px;
}

.icons>i {
  cursor: pointer;
}

.input-container>div {
  display: flex;
  gap: 10px;
}

.input-container>div>select {
  flex-basis: 50%;
  border: 1px solid #000;
}

.form-container {
  display: flex;
  justify-content: space-around;
}

.form-container>* {
  flex-basis: 50%;
  padding: 10px;
}

.form-container>*>h2 {
  margin-bottom: 14px;
}

.form>input,
.form>select,
.form>button,
.filter>select {
  display: block;
  font-size: 18px;
  margin: 10px;
  width: 80%;
  padding: 8px 18px;
  outline: none;
  border: 1px solid #000;
  border-radius: 5px;
}

.form>button {
  background-color: #3867ff;
  border: none;
  color: aliceblue;
  cursor: pointer;
  margin-top: 25px;
}

.filter>select {
  width: 100%;
}

@media screen and (max-width:1248px) {
  .input-container>* {
    flex-basis: 80%;
  }

  .input-container button {
    flex-basis: 20%;
  }
}

@media screen and (max-width:960px) {
  .app {
    padding: 0px 6%;
  }

  .input-container button {
    font-size: 14px;
  }

  .form>input,
  .form>select,
  .form>button,
  .filter>select,
  .input-container>input,
  .list>li>p {
    font-size: 16px;
  }

  .icons {
    font-size: 18px;
  }
}

@media screen and (max-width:780px) {
  .app {
    padding: 0px 4%;
  }

  .input-container>* {
    flex-basis: 70%;
  }

  .input-container button {
    flex-basis: 30%;
    font-size: 14px;
  }

  .input-container>div,
  .input-container.flex-wrap,
  .form-container {
    flex-wrap: wrap;
  }

  .input-container>.class>select {
    flex-basis: 100%;
    height: 40px;
  }

  .input-container>.class,
  .form-container>* {
    flex-basis: 100% !important;
  }

  .icons {
    font-size: 16px;
  }

  .form>input,
  .form>select,
  .form>button,
  .filter>select {
    width: 100%;
  }

  .flex-wrap>button {
    flex-basis: 100%;
    margin-top: 10px;
    height: 40px;
  }
  .container>h2{
    font-size: 32px;
  }
}

@media screen and (max-width:540px) {
  .app {
    padding: 0px 2%;
  }

  .input-container>* {
    flex-basis: 65%;
  }

  .container>h2{
    font-size: 23px;
  }

  .input-container button {
    flex-basis: 35%;
    font-size: 12px;
  }

  .icons {
    font-size: 14px;
  }

  .form>input,
  .form>select,
  .form>button,
  .filter>select {
    width: 100%;
  }

  .container {
    padding: 10px 20px;
  }

  .flex-wrap>button {
    flex-basis: 100%;
    margin-top: 10px;
    height: 40px;
  }
}